body {
    background-color: #FFF8ED;
}

h1{
    color: #8B1E1E;
    text-align: center;
    font-family: Arial, sans-serif;
}


.pagina-inicial {
    color: #8B1E1E;
    text-align: center;
    font-family: Arial, sans-serif;
}

h2{
    color: #8B1E1E;
    font-family: Arial, sans-serif;
}

h3{
    color: #8B1E1E;
    font-family: Arial, sans-serif;
}

ul{
    color: #2B2118;
    font-family: Arial, sans-serif;
}

footer{
    color: #2B2118;
    font-family: Arial, sans-serif;
}

.descricao {
    display: none;
}

.pizza {
    cursor: pointer;
}

.pizza:hover {
    text-decoration: underline;
}

.sobremesa {
    cursor: pointer;
}

.sobremesa:hover {
    text-decoration: underline;
}

.imagem-receita {
    width: 100%;
    height: 187.5px;
    object-fit: cover;
    display: block;
}

.card-receita {
    width: 90%;
    max-width: 400px; /*O card ocupará até 90% da largura disponível. Isso é importante para dispositivos móveis porque evita que o card fique grudado nas bordas da tela.*/
    margin: 20px auto; /*O 20px cria espaço acima e abaixo. O auto nas laterais faz o navegador centralizar o card.*/
    background-color: white;
    border-radius: 10px;
    overflow: hidden; /*Essa propriedade é importante porque temos uma imagem dentro do card. Ela faz com que o conteúdo respeite o arredondamento dos cantos do card.*/
}

.conteudo-receita {
    padding: 20px; /*Cria espaço interno para que o texto não fique encostado nas bordas.*/
}

.sugestao-chef {
    text-align: center;
    
}

.conteudo-receita h3 {
    color: #8B1E1E;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 15px;
}

.informacoes-receita {
    margin-bottom: 20px;
}

.informacoes-receita p { /*Seleciona e altera apenas os <p> que esteja dentro de .informacoes-receita.*/
    margin: 5px 0;
    color: #182b24;
}

.conteudo-receita h4 {
    color: #8B1E1E;
    margin-bottom: 10px;
}

.conteudo-receita ul { /*Afeta apenas os <ul> que estão dentro de .conteudo-receita.*/
    padding-left: 20px;
    margin-top: 0;
}

.conteudo-receita li {
    margin-bottom: 5px;
    color: #2B2118;
}

.menu-lateral a {
    display: inline-block;
    padding: 10px;
}

.link-cardapio {
    color: #8B1E1E;
    font-weight: bold;
    cursor: pointer; /*Quando o usuário passar o mouse sobre o texto, o cursor muda para a "mãozinha". Isso fornece uma indicação visual importante: "Este elemento pode ser clicado."*/
}

.link-cardapio:hover {
    text-decoration: underline;
} /*.link-cardapio:hover seleciona os elementos que possuem a classe link-cardapio enquanto o mouse estiver sobre eles. 
Assim, ao passar o mouse sobre o texto, a propriedade text-decoration: underline; adiciona um sublinhado, 
criando um feedback visual familiar, semelhante ao comportamento dos links tradicionais.*/