body {
    background-color: #FFF8ED;
}

h1{
    color: #8B1E1E;
    text-align: center;
    font-family: Arial, sans-serif;
}


.pagina-inicial {
    color: #8B1E1E;
    text-align: center;
    font-family: Arial, sans-serif;
}

h2{
    color: #8B1E1E;
    font-family: Arial, sans-serif;
}

h3{
    color: #8B1E1E;
    font-family: Arial, sans-serif;
}

ul{
    color: #2B2118;
    font-family: Arial, sans-serif;
}

footer{
    color: #D89B2B;
    font-family: Arial, sans-serif;
}

.descricao {
    display: none;
}

.pizza {
    cursor: pointer;
}

.sobremesa {
    cursor: pointer;
}

.imagem-receita {
    width: 100%;
    max-width: 300px;
    height: 187.5px;
    object-fit: cover;
}

.card-receita {
    width: 90%;
    max-width: 400px; /*O card ocupará até 90% da largura disponível. Isso é importante para dispositivos móveis porque evita que o card fique grudado nas bordas da tela.*/
    margin: 20px auto; /*O 20px cria espaço acima e abaixo. O auto nas laterais faz o navegador centralizar o card.*/
    background-color: white;
    border-radius: 10px;
    overflow: hidden; /*Essa propriedade é importante porque temos uma imagem dentro do card. Ela faz com que o conteúdo respeite o arredondamento dos cantos do card.*/
}

.conteudo-receita {
    padding: 20px; /*Cria espaço interno para que o texto não fique encostado nas bordas.*/
}

.sugestao-chef {
    text-align: center;
    
}

.conteudo-receita h3 {
    color: #8B1E1E;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 15px;
}

.informacoes-receita {
    margin-bottom: 20px;
}

.informacoes-receita p { /*Seleciona e altera apenas os <p> que esteja dentro de .informacoes-receita.*/
    margin: 5px 0;
    color: #182b24;
}